<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pos">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Ventas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inventory">
      <ion-icon name="cube-outline"></ion-icon>
      <ion-label>Inventario</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reports">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Reportes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
